<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wn.csd.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id property="id" column="id"/>
        <result property="tel" column="tel"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="invitation" column="invitation"/>
    </resultMap>

    <sql id="selectUser">
        SU.ID, SU.TEL, SU.PASSWORD, SU.EMAIL, SU.INVITATION
    </sql>

    <insert id="register">
        INSERT INTO SYS_USER(TEL,PASSWORD,EMAIL,INVITATION) VALUES(#{tel},#{password},#{email},#{invitation})
    </insert>

    <update id="updateUser" parameterType="user">
        UPDATE SYS_USER SU
        <set>
            <if test="tel != null">
                SU.TEL = #{tel},
            </if>
            <if test="email != null">
                SU.EMAIL = #{email},
            </if>
            <if test="password != null">
                SU.PASSWORD = #{password}
            </if>
        </set>
        WHERE SU.ID = #{id}
    </update>

    <select id="findUserByTel" resultMap="userMap">
        SELECT
        <include refid="selectUser"/>
        FROM SYS_USER SU WHERE SU.TEL = #{tel}
        <!--<where>
            <if test="tel != null">
                AND
            </if>
            <if test="password != null">
                AND SU.PASSWORD = #{password}
            </if>
        </where>-->
    </select>

</mapper>